body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    height: 100px;
    background-image: linear-gradient(0,#f34b4b, rgb(192, 0, 0) );
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__navbar-items--logo{
    height: 100px;
    width: 100px;
    position: relative;
}
.header__img{
    position: absolute;
    width: 100%;
    
    padding-left: 2px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

.fas{
    padding-left: 0px;
    margin-left: -15px;
}
/* Header notify */
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);}
}
.header__notify{
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: white;
    border: 1px solid rgb(223, 216, 216);
    border-radius: 5px;
    transform-origin: top right;
    animation: headerNotifyGrowth ease-in 0.3s;
    display: none;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: -20px;
    top: -17px;
    width: 120px;
    height: 40px;
    
    
}
.header__notify-header:hover .header__notify{
    display: block;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
    height: 50px;
    
    align-items: center;
}
.header__notify-item:hover{
    background-color: rgb(238, 236, 236);
}

.header__notify-img{
width: 48px;
object-fit: contain;
margin-left: 5px;

}
.header__notify-logo{
    color: black;
    width: 48px;
    object-fit: contain;
    margin-left: 20px;
}
.header__notify-info{
 margin-left: 12px ;
}
.header__notify-name{
    display: block;
    font-size: 14px;
    color: black;
    
}
.header__notify-description{
    display: block;
    font-size: 12px;
    color: gray;
}

.header__navbar-icon-link{
    color: white;
    text-decoration: none;
    margin: 0 4px;
    font-size: 25px;

}

.header__navbar-items,
.header__navbar-items-link{
    display: inline-block;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.header__navbar-items:hover,
.header__navbar-items-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.7);
}

.header__navbar-items{
    margin: 0 10px;
    position: relative;
}

.header__navbar-items-link--strong{
    font-weight: bold;
}

.header__navbar-items--strong{
    font-weight: bold;
}

.header__navbar-items--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: white;
    right: 0;
    top: 0;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-title--none{
    cursor: text;
    color: white;
}

/* header img */
/* .header__navbar-items--img:hover .header__img{
   display: block;
}



.header__img{
    background-color: white;
    width: 130px;
    left: 0;
    top: 130%;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    display: none;
    animation: fadeIn ease-in 0.3s;

}
.header__img::before{
    position: absolute;
    left:0;
    top:-20px;
    width: 100%;
    height: 30px;
    content: "";
    display: block;
    
}



.header__img-infor{
    width: 100%;

}

.header__img-infor-link{
color:#363d63;
display: inline;
text-decoration: none;
font-size: 14px;
font-weight: bold;
margin-left: 6%;
}
.search-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.search-icon{
    width: 200px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.search-tool{
    position: relative;
    margin-top: 32px;
    background-color: white;    
    height: 35px;
    flex: 1;
    
    
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.search-tool--input{
    flex: 1;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    
}

.search-tool--selection{
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-left: 1px solid rgb(216, 215, 215);
    padding-left: 10px;

}

.search-tool--iconarraow{
    color: gray;
    margin: 0px 10px;
    position: relative;
    top: 1px;
}

.search-tool--iconsearch{
    background-image: linear-gradient(0,#f34b4b, rgb(192, 0, 0) );
    color: white;
    border: none;
    border-radius: 2px;
    margin-right: -4px;
    width: 40px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-tool--iconsearch:hover{
    cursor: pointer;
    background-image: linear-gradient(0,#f79090, rgb(252, 45, 45));
    
}



/* Authen modal */

/* .auth-form{
    width: 400px;
    display: none;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.auth-form__heading{
    font-size: 2.2 rem;
    font-weight: 800;
    color: black;
    
}

.auth-form__switch-btn{
    font-size: 2.6 rem;
    color: #363d63;
    font-weight: 500;
    cursor: pointer;
}


.auth-form__input{
    width: 100%;
    height: 30px;
    margin-top: 16px;
    padding: 0 ;
    font-size: 0.75rem;
    border: solid rgb(180, 179, 179) 1px;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: rgb(58, 56, 56);
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1rem;
    line-height: 1.4rem;
    
}

.auth-form__text-link{
    color:  #363d63 ;
    text-decoration: none;
}

.auth-form__text-link:hover{
    text-decoration: underline;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;

}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: rgb(233, 233, 233);
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials--fb{
background-color: #1D3C78;
color: white;

}

.auth-form__socials--gg{
    background-color: white;
    color: rgb(68, 67, 67);
    
}

.auth-form__socials-title{
    margin: 0 20px;
} 

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1rem;
    text-decoration: none;
    color: #363d63;
}

.auth-from__help-separate{
    display: block;
    height: 17px;
    margin: 1px 7px 0;
    border-left: 1px solid #9e9e9e40;

}

.auth-form__help-link:hover{
    text-decoration: underline;
} */


footballers__list {
    margin-top: 20px;
}
.footballers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 16px;
}

.tabs-content__item {
    margin-bottom: 20px;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

.ratio-img--portrait {
    padding-bottom: 117.78%;
}
.ratio-img {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.container{
	width: 100%;
	height: auto;
}
.menu{
	width: 100%;
	height: 120px;
	background-color: rgb(255, 186, 0);
}
.up{
	width: 80%;
	height: 70px;
	margin: 0px auto;
}
.up ul{
	list-style: none;
	margin-top: 0px;
	margin-left: 0px;
}
.up ul li{
	display: inline-block;
	padding:10px;
}
.up ul li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.up ul li a img{
	vertical-align: middle;
}
.logo a img{
	padding-right: 40px;
}
.down{
	height: 50px;
	width: 80%;
	margin: 0 auto;
}
.search{
	height: 40px;
	width: 550px;
	background-color: white;
	margin-left: 60px;
	border-radius: 5px;
}
.search input{
	width: 480px;
	height: 35px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;

}
.search button{
	/*height: 35px;*/
	border: 0px;
}
.search button img{
	width: 20px;
	height: auto;
	vertical-align: middle;
}
.content{
	width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px  150px 150px ;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 10px;
}
.item img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
}
.item1{
	grid-column-start: 1;
	grid-column-end: span 2;
}
.item1 img{
	width: 310px;
}
.item2{
	grid-column-start: 3;
	grid-column-end: span 2;
}
.item2 img{
	width: 310px;
}
.item1, .item2{
	position: relative;
}

h2{
	position: absolute;
	top: 90px;
	left: 20px;
	font-weight: bold;
	color: white;
}

